<!DOCTYPE html>
<html>
	<!-- {% load static %} -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
  </head>
 <body>
    {% block navigation %}
    {%if request.user.is_authenticated %}
    
    <span>Hi, {{ request.user.username | title }}</span>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'adoption:animals' %}">All pets</a>
    <a href="{% url 'adoption:my_animals' %}">My pets</a>
    <a href="{% url 'adoption:add_animal' %}">Add pet</a>
    <a href="{% url 'adoption:search_animal' %}">Search</a>
    <a href="{% url 'blog:all_posts' %}">Blog posts</a>
    <a href="{% url 'blog:my_posts' %}">My posts</a>
    <a href="{% url 'message:my_messages' %}">My messages</a>
    {%else%}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    
    {%endif%}
    {% endblock %}
    <h1>Base</h1>
    {% block content %}
    
    {% endblock %} 
  <!-- <script src={% static 'index.js' %}></script>    -->
  </body>
</html>