{% extends "base.html" %}

{% block title %}<p>Hello</p>{% endblock %}

{% block content %}
    {%if request.user.is_authenticated %}
    
    <span>Hi {{ request.user.username | title }}</span>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'adoption:animals' %}">All pets</a>
    <a href="{% url 'adoption:add_animal' %}">Add pet</a>
    {%else%}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    {%endif%}

    <ul class="animals">

        {% for pet in animals %}

      <li class="pet">
        <span class="category">{{pet.category}}</span>
        <span class="description">{{pet.name}}</span>
          <img class="bg" src="{{pet.image.url}}"/>
      </li>
        {% endfor %}
    </ul>
{% endblock %}