{% extends "base.html" %}

{% block title %}<p>Hello</p>{% endblock %}

{% block content %}
    

    <ul class="posts">

    {% for post in posts %}
        

    <li class="posts">
      <span class="written_by_user">Written by: {{post.written_by_user}} | {{post.date}}</span>
      <br>
      <span class="title">Title: {{post.title}}</span>
      <br>        
      <span class="blog_post">Post: {{post.blog_post}}</span>
      <br>
    </li>
    <a href="{% url 'blog:edit_post' post.id %}">Edit</a>  
    <a href="{% url 'blog:delete_post' post.id %}">Delete</a> 
    <hr>   
    {% endfor %}
    </ul>
{% endblock %}