{% extends "base.html" %}

{% block title %}<p>Hello</p>{% endblock %}

{% block content %}
    

    <ul class="animals">

        {% for pet in animals %}

      <li class="pet">
        <span class="category">Category: {{pet.category}}</span>
        <br>
        <span class="addedby">Added by: {{pet.added_by_user}} | {{pet.date}}</span>
        <br>
        <span class="name">Name: {{pet.name}}</span>
        <br>        
        <span class="city">City: {{pet.city}}</span>
        <br>
        <span class="age">Age: {{pet.age}}</span>
        <br>
        <span class="description">Description: {{pet.description}}</span>
        <br>
          <img class="bg" src="{{pet.image.url}}" width="150px" height="150px"/>
       
      </li>
      
      {% if user == pet.added_by_user %}
        <a href="{% url 'adoption:my_animals' %}">My pets</a>
      {% else %}
        <a href="{% url 'adoption:adopt_animal' pet.id %}">Adopt</a>
      {%endif%}
      <hr>
        {% endfor %}
    </ul>
{% endblock %}