{% extends "base.html" %}

{% block title %}<p>Hello</p>{% endblock %}

{% block content %}
    {%if request.user.is_authenticated %}
    
    <span>Hi, {{ request.user.username | title }}</span>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'adoption:animals' %}">All pets</a>
    <a href="{% url 'adoption:add_animal' %}">Add pet</a>
    <a href="{% url 'adoption:search_animal' %}">Search</a>

    {%else%}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    
    {%endif%}

    <ul class="animals">

    {% for pet in animals %}
        

    <li class="pet">
      <span class="category">Category: {{pet.category}}</span>
      <br>
      <span class="addedby">Added by: {{added_by_user}}</span>
      <br>
      <span class="name">Name: {{pet.name}}</span>
      <br>        
      <span class="city">City: {{pet.city}}</span>
      <br>
      <span class="age">Age: {{pet.age}}</span>
      <br>
      <span class="description">Description: {{pet.description}}</span>
      <br>
        <img class="bg" src="{{pet.image.url}}" width="150px" height="150px"/>
      <hr>
    </li>
        
    {% endfor %}
    </ul>
{% endblock %}