{% extends "base.html" %}

{% block title %}<p>Hello</p>{% endblock %}

{% block content %}
    

    {% if searched_cat and searched_city%}
      <h1>You searched for {{searched_cat}} from {{searched_city}}</h1>
    {% elif searched_cat %}
      <h1>You searched for all {{searched_cat}}s</h1>
    {% elif searched_city %}
      <h1>You searched for all pets from {{searched_city}}</h1>
    {% else %}
      <h1>You must privide info for search</h1>
    {%endif%}

    <ul class="animals">
      {% if animals%}
        {% for pet in animals %}

        <li class="pet">
          <span class="category">Category: {{pet.category}}</span>
          <br>
          <span class="addedby">Added by: {{pet.added_by_user}}</span>
          <br>
          <span class="name">Name: {{pet.name}}</span>
          <br>        
          <span class="city">City: {{pet.city}}</span>
          <br>
          <span class="age">Age: {{pet.age}}</span>
          <br>
          <span class="description">Description: {{pet.description}}</span>
          <br>
            <img class="bg" src="{{pet.image.url}}" width="150px" height="150px"/>
          <hr>
        </li>
        {% endfor %}
      {% else %}
      <h2>Can`t find</h2>
      {%endif%}
    </ul>
{% endblock %}